.Header {
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 2em;
  text-align: center;
  background-color: #faf8f6;
  border-top: 1px solid #bbbab9;
  border-bottom: 1px solid #bbbab9;
}

.Header>h1 {
  font-size: xxx-large;
  font-weight: normal;
  margin: 0;
}

.Header>h2 {
  font-weight: normal;
}

nav {
  margin: 1.5em 0;
}

nav>a {
  margin: 0 0.75em;
}

.nav-separator {
  color: #bbbab9;
  margin: 0 0.25em;
}
