hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 3px ridge #FF00FF;
  border-bottom: 3px groove #FFFF00;
  margin: 1.5em 0;
  padding: 0;
  background: linear-gradient(90deg, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF, #FF00FF);
}

a {
  text-decoration: underline;
  color: #0000FF;
  font-weight: bold;
}

a:visited {
  color: #800080;
}

a:hover {
  color: #FF0000;
  background: #FFFF00;
}

.AppContent {
  display: block;
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
  background: #FFFFFF;
  border: 5px ridge #FF00FF;
  box-shadow: 10px 10px 0px #000080;
}

.Footer {
  margin: 20px;
}

.FooterContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 15px;
  background: #FFFF00;
  border: 3px dashed #FF00FF;
  text-align: center;
  font-size: 12px;
}
